<h1 class="animated fadeIn fast" >Esta app es sobre Comics</h1>
<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore officiis similique accusantium distinctio quibusdam. Est fugiat deserunt quibusdam magnam, iure hic vero rerum alias, omnis necessitatibus id nostrum deleniti iste!
    Sapiente ex magnam aspernatur architecto cum est ut incidunt fuga non aliquam deserunt beatae corporis minus deleniti, nulla et dignissimos ipsum perspiciatis nam! Veniam atque distinctio saepe, labore quidem dignissimos.
    Corrupti adipisci optio quis modi facilis culpa nisi veritatis dicta nulla, asperiores reprehenderit dolore facere veniam, odit saepe exercitationem expedita voluptatibus? Provident voluptatum nulla magnam eligendi deserunt, asperiores saepe ducimus.
    Est consectetur exercitationem commodi eum distinctio! Quas ut iste praesentium voluptatem magni quisquam dolorum, consequatur, autem animi officia a possimus odio officiis facilis enim excepturi vel consectetur? Expedita, quidem nemo?
    Delectus nostrum exercitationem rerum incidunt cum, quis quaerat non quasi provident voluptatum ea debitis nihil eius rem aperiam. Eius quibusdam repellendus eligendi magni libero non veritatis sapiente, repellat recusandae inventore!
    Sit possimus aliquid eius itaque ex illum. Dolorum voluptatibus reiciendis in quisquam laborum nobis, neque necessitatibus aut mollitia iste dignissimos rem! Dignissimos ipsum, fugiat provident natus voluptatum minus nam illum.
    Expedita debitis eligendi quasi amet quas voluptatum. Itaque, aut? Modi rerum aliquid ullam ipsam distinctio quasi, adipisci sit perspiciatis reprehenderit molestias eaque, voluptates neque. Quidem minus corporis eligendi suscipit error.
    Repellendus minus debitis voluptatum vitae aperiam. Ea dolor odit nostrum id fugit eaque, atque sequi officia eius est magnam voluptatibus, soluta nesciunt saepe voluptate? Ipsum, impedit? Facilis illo soluta deleniti!
    Perspiciatis omnis iusto neque, nesciunt facilis quo odio corporis reprehenderit consectetur ea porro facere fuga iure at aperiam eligendi delectus, dicta magni consequatur inventore, libero sit? Architecto nam ducimus rerum.
    Voluptates eius odio, officia obcaecati excepturi, iure ipsum nam cupiditate ut nostrum consequuntur ratione. Esse praesentium temporibus at, blanditiis quisquam cupiditate enim, deleniti quis iure voluptatum repudiandae doloribus consequatur mollitia?
</p>
