<h4>Formularios <small>Template</small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(formulario)" #formulario="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" name="nombre"
                    [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" required
                    minlength="4" #nombre="ngModel" placeholder="Nombre">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">El nombre es requerido y
                    debe tener más de 4 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" name="apellido" [ngModel]="usuario.apellido"
                    [class.is-invalid]="apellido.invalid && apellido.touched" #apellido="ngModel" required minlength="5"
                    placeholder="Apellido">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">El apellido es
                    requerido y debe tener más de 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" [class.is-invalid]="correo.invalid && correo.touched"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Correo electrónico" name="correo"
                required [ngModel]="usuario.correo" #correo="ngModel">
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">El correo electrónico
                ingresado es invalido</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select class="form-control" name="pais" [ngModel]="usuario.pais" required
                [class.is-invalid]="pais.invalid && pais.touched" 
                [disabled]="paises.length === 0" #pais="ngModel">
                <option *ngFor="let pais of paises" value="pais.codigo">{{pais.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">

            <div class="form-check form-check-inline">
                <input 
                    type="radio" 
                    class="form-check-input"
                    [class.is-invalid]="genero.invalid && genero.touched" 
                    ngModel 
                    required 
                    value="M" 
                    name="genero"
                    #genero="ngModel">
                <label class="form-check-label">Masculino</label>
            </div>

            <div class="form-check form-check-inline">
                <input 
                    type="radio" 
                    class="form-check-input" 
                    ngModel 
                    value="F" 
                    name="genero" 
                    required
                    #genero>
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>

</form>